*{
    font-family:'Roboto';
}
.flex-container{
    display:flex;
}
header{
    background-color: #1F2937;
}
header .flex-container{
    align-items: center;
    justify-content: center;
    height:400px;
    /* background-color: #1F2937; */
    gap:10px;
}
.box-one{
    height:200px;
    width:400px;
    flex-direction: column;
    gap:5px;
}
.box-two{
    height:200px;
    width:400px;
    background-color: brown;
}
.hero{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.hero-subtext{
    font-size:18px;
    color:#E5E7EB;
}
button{
    font-size:18px;
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    border-radius: 6px;
}
img{
    width: 100%;
    height:100%;
    object-fit: cover;
}